body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.book-list {
    display: grid;
    gap: 15px;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(auto-fit, 320px);
    width: 100%;
}

.book-card {
    align-items: center;
    background-color: #393E46;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 25px 25px;
    min-height: 150px;
    padding: 15px;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.book-card:hover {
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    top: -2px;
}

.title {
    color: #00ADB5;
    font-size: 1.3rem;
    font-weight: bold;
    grid-column: 1 / -1;
    grid-row: 1;
}

.author {
    align-self: end;
    grid-column: 1 / -1;
    grid-row: 2;
    text-transform: uppercase;
}

.title {
    align-self: start;
}

.icons {
    align-items: flex-end;
    align-self: end;
    display: flex;
    grid-column: 2 / -1;
    grid-row: -2;
    justify-self: end;
}

.pages {
    align-self: end;
    color: #999;
}

/* form styling */

textarea, input { outline: none; } 

.add-book-form {
    display: none;
}

.form-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.form-row label {
    padding-right: 15px;
    text-align: right;
    width: 120px;
}

input:not([type="radio"]) {
    appearance: none;
    background-color: #1f242c;
    border: 1px solid rgb(80, 80, 80);
    color: #EEEEEE;
    padding: 7px;
    width: 300px;
}

input:not([type="radio"]):focus {
    border: 1px solid rgb(114, 114, 114);
}

.read-form-row {
    border: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-bottom: 40px;
    padding: 0;
}

.read-form-legend {
    float: left;
    padding-left: 0;
    padding-right: 10px;
    text-align: right;
    width: 120px;
}

.read-form-row input[type='radio'] {
    float: left;
}

.read-form-row label {
    display: block;
    float: left;
    padding: 0 20px 0 5px;
}

.form-buttons {
    margin-left: 120px;
}

.form-buttons button {
    appearance: none;
    background-color: #222831;
    border-radius: 5px;
    border: 1px solid #006368;
    color: #EEEEEE;
    margin-right: 10px;
    padding: 5px 10px;
}

.form-buttons button:hover {
    background-color: #424242;
    cursor: pointer;
}

/* form validation */

.required, .error {
    color: red;
    font-size: 0.8rem;
}

.error {
    padding-left: 15px;
}

.required {
    bottom: 2px;
    position: relative;
    right: 2px;
}

.invalid {
    border: 1px solid red;
}

/* Icons */

.material-symbols-outlined {
    font-variation-settings:    'FILL' 0,    'wght' 400,    'GRAD' 0,    'opsz' 48}

.material-symbols-outlined:hover {
    color: #00ADB5;
}

.read {
    color: #00c224;
}

/* Add book button */

.add-book {
    align-items: center;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
    max-width: 140px;
    padding: 5px;
}

.add-book:hover {
    color: #00ADB5}

/* Footer */

.footer {
    align-items: center;
    bottom: 5px;
    display: flex;
    font-size: 0.9rem;
    gap: 10px;
    justify-content: center;
    padding: 15px;
    position: absolute;
    width: 100%;
}

.footer a {
    align-items: center;
    display: flex;
}